* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --blue: rgb(38, 38, 110);
    --yellow: rgb(207, 194, 7);
}

.float-left {
    float: left;
    margin-left: 15px;
    max-height: 50px;
    padding-top: 7px;    
}

header {
    width: 100%;
    height: 60px;
    background-color: var(--blue);    
    font-size: 60px;    
}

.hypers {
    width: 100%;
    text-align: right;
    padding: 0 0 0 0;       
    background-color: var(--yellow);
    margin-top: -27px;  
          
}

.hypers li {
    margin-left: 25px;
    margin-right: 25px;    
    display: inline-block;   
    font-size: 24px;    
}

a {
    color: var(--yellow);
    text-decoration: solid;    
    }

h1 {
    display: inline-block;
    font-size: 40px;
    text-align: center;
    padding-right: 20px;
    padding-bottom: 7px;
    color: var(--blue);
    background-color: var(--yellow);
    width: 26%;    
}

.subhead {
    height: 805px;
    width: 100%;    
    background-image: url("https://beyondtheflag.com/wp-content/uploads/getty-images/2021/02/1303695316.jpeg");
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
    border-bottom: 15px solid var(--yellow);
}

/*Under the image*/
h2 {    
    color: var(--blue);
    font-size: 50px;
       
}

aside {
    margin-left: auto;
    text-align: right;
    clear: both;
    float: left;
    width: auto;
    height: auto;
}

ul {
    padding-left: 20px;
    font-size: 20px;
    
}

p {
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 10px;
  }

.card {
    position: relative;  
    width: 60%;
    min-height: auto;
    margin-bottom: 40px;
    margin-left: 475px;
    border-left: 2px solid var(--blue);
    
  }

  footer {
    position: absolute;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: var(--blue);
    color: var(--yellow);
    font-size: 20px;
    font-style: italic;
    border-top: 5px solid var(--yellow);
}
